label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #4CAF50;
}

input.invalid {
  border-color: red;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #CCCCCC;
  cursor: not-allowed;
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
